doctype html
head
	meta(charset='UTF-8')
	title Montaje - Especificaciones de seguridad
body
	h1 Montaje del pc
	ul
		li muescas
		li se la pone con paleta
		li tomar correctamente la ram
		li colocar el backplate
		li colocar tornillos
		li cables panel fromtal
		li unidad  optica
		li conector 24 pines
