doctype html
html
	head
		title Case y dispositivos perifericos
	body
		h1 Case y dispositivos perifericos
		p El case o gabinete es la parte que contiene y protege los componentes internos de la computadora.
