doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		link(rel='stylesheet' href='styles.css')
	body
		h1 Notas del CETPRO "San Luis"
		p Capacidad esperada: Comprender la arquitectura y funciones de cada componente interno de la computadora de acuerdo a las especificaciones del fabricante
		h2 Identificando los componentes internos de la computadora
		a(href='power-supply.html') Fuentes de alimentacion, funcion y caracteristicas
		|
		|
		a(href='hard-drive.html') Disco duro, funcion y caracteristicas
		p Capacidad esperada: Aplica técnicas de montaje y desmontaje de componentes internos de la computadora y conexión de periféricos según procedimientos técnicos y de seguridad.
